

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(253,237,233,1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-family: Lato;
  font-size: 16px;
  text-align: center;
}

small {
  font-size: 12px;
}

hr {
  width: 90%;
}

button {
  margin: 5px;
}

.frame {
  position: absolute;
  /* height: 600px;
  width: 800px; */
  height: 658px;
  width: 730px;
  top: 12%;
  left: 24%;
  border: 2px solid #006100;
  border-radius: 5px;
  /* background: url('/home/itsnothalley/hackreactor/mvp/my-app/src/2450479471e30f24eda1588575d3bf24.webp'); */
  background: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/afcdf625-d9a0-44d1-bd2a-847333257905/d9wj5b4-163915a7-e909-44db-8c54-98bb006e062e.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2FmY2RmNjI1LWQ5YTAtNDRkMS1iZDJhLTg0NzMzMzI1NzkwNVwvZDl3ajViNC0xNjM5MTVhNy1lOTA5LTQ0ZGItOGM1NC05OGJiMDA2ZTA2MmUucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.ycyQ1m5NfT3S1_3_R5GdWKLBO3NKZLRBmTUgMmsSziA');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.rrs-container {
  /* margin: 0 auto; */
  position: relative;
  top: 83%;
  /* left: 45%; */
  /* transform: translate(-50%, -50%); */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-image: ; */
  cursor: pointer;
}

.my-element__class--style {
  width: 20%;
}

.react-responsive-spritesheet-container {
  width: 50px;
  height: 50px;
}

