body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(253,237,233,1);
  font-family: 'Lilita One', cursive;
  font-family: 'Short Stack', cursive;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* hr {
  width: 90%;
} */

/* button {
  margin: 5px;
} */

h1, h2 {
  font-size: 5em;
  position: relative;
  top: 20%;
  color: rgba(255, 197, 188, 1);
  -webkit-text-stroke: 1px red;
}

h2 {
  position: relative;
  top: 25%;
  font-size: 4em;
  border: 5px dotted red;
}

h2:hover {
  -webkit-text-stroke: 2px red;
  text-shadow: -2px 0 red, 0 2px red, 2px 0 red, 0 -2px red;
  cursor: pointer;
  background-color: rgba(255, 197, 188, 0.3);
}

.title {
  position: absolute;
  /* height: 600px;
  width: 800px; */
  /* height: 658px;
  width: 730px; */
  /* height: 591px;
  width: 657px; */
  height: 558px;
  width: 620px;
  top: 13%;
  left: 28%;
  border: 2px solid turquoise;
  border-radius: 10px;
  background-color: rgba(255,255,255,0.9);
  z-index: 1;
}

.frame {
  position: absolute;
  /* height: 600px;
  width: 800px; */
  /* height: 658px;
  width: 730px; */
  /* height: 591px;
  width: 657px; */
  height: 558px;
  width: 620px;
  top: 13%;
  left: 28%;
  border: 2px solid turquoise;
  border-radius: 10px;
  /* background: url('/home/itsnothalley/hackreactor/mvp/my-app/src/2450479471e30f24eda1588575d3bf24.webp'); */
  background: url('/home/itsnothalley/hackreactor/mvp/my-app/src/teal-pixel-room.png');
  /* background: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/afcdf625-d9a0-44d1-bd2a-847333257905/d9wj5b4-163915a7-e909-44db-8c54-98bb006e062e.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2FmY2RmNjI1LWQ5YTAtNDRkMS1iZDJhLTg0NzMzMzI1NzkwNVwvZDl3ajViNC0xNjM5MTVhNy1lOTA5LTQ0ZGItOGM1NC05OGJiMDA2ZTA2MmUucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.ycyQ1m5NfT3S1_3_R5GdWKLBO3NKZLRBmTUgMmsSziA'); */
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  gap: 20px;

}

.rrs-container {
  height: 32px;
  width: 32px;
  position: relative;
  top: 61%;
  left: 27%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.my-element__class--style {
  width: 20%;
}

.react-responsive-spritesheet-container {
  width: 50px;
  height: 50px;
}

button {
  position: absolute;
  top: 4%;
  left: 44%;
}

/* CSS */
.button-45 {
  align-items: center;
  background-color: rgba(255, 197, 188, 1);
  background-position: 0 0;
  border: 1px solid #FEE0E0;
  border-radius: 11px;
  box-sizing: border-box;
  color: red;
  cursor: pointer;
  display: flex;
  font-family: 'Lilita One', cursive;
  font-family: 'Short Stack', cursive;
  font-size: 1rem;
  font-weight: 700;
  line-height: 33.4929px;
  list-style: outside url(https://www.smashingmagazine.com/images/bullet.svg) none;
  padding: 2px 12px;
  text-align: left;
  text-decoration: none;
  text-shadow: none;
  text-underline-offset: 1px;
  transition: border .2s ease-in-out,box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  word-break: break-word;
}

.button-45:active,
.button-45:hover,
.button-45:focus {
  outline: 0;
}


.button-45:active {
  background-color: red;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #FFFFFF;
}

.button-45:hover {
  background-color: #FFE3E3;
  border-color: turquoise;
}

.button-45:active:hover,
.button-45:focus:hover,
.button-45:focus {
  background-color: red;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #FFFFFF;
}

p {
  font-size: 0.5em;
}

input {
  width: 32px;
  height: 16px;
}